
.gradient-background {
  background: linear-gradient(300deg, #000000, #000d9f, #7b00df);
  background-size: 180% 180%;
  animation: gradient-animation 8s ease infinite ;
  width: auto;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#intro{
    height: 600px;
}
.intro-eren{
    color: white;
    font-size: 5rem;
    display: flex;
    align-items: center;
    font-family: 'Dancing Script', cursive;
    text-shadow: 0 0 12px #1e00ff, 0 5px 12px #2600ff , 0 5px 12px #0d00ff;
}
.flex{
    display: flex;
    align-content: center;
    justify-content: center; 
    height: 100%;
}
.center{
    text-align: center;
}
#biography-text{
    font-size: 1rem;
    text-align: justify;
}
.frame-skills{
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    width: 300px;
    height: 400px;
}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-around;
    width: auto;
    height: auto;
}
.skill-card{
    height: auto;
    width: 300px;
}
#python{
    justify-content: center;
}
#frameworks{
 color: white;
}
.skills {
  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  padding-right: 10px;
  color: white; /* White text color */
}
#skills{
  background-color: #000000;
}
.framehorizontal {
  border-radius: 10px;
  width: 300px;
  height: 250px; 
  overflow: hidden;
  position: relative; 
  margin-left: 10px;
}

.framehorizontal img {
  position: absolute;
  top: 0;
  transition: transform 5s ease; /* Soft passing animation*/
  border-radius: 10px;
}
.framevertical {
  border-radius: 10px;
  width: 500px; /* Frame width */
  height: 200px; /* Frame height */
  overflow: hidden; /* Hidden bleed setting to cut out the picture that carries the content */
  position: relative;/* We will scroll content by adjusting the position */
  margin-left: 10px;
}
.framevertical img {
  position: absolute;
  top: 0;
  transition: transform 5s ease; /* Soft passing animation*/
  border-radius: 10px;
}

.framevertical:hover img { 
  transform: translateY(-75%); /* Slides to down*/
}
@media screen and (max-width: 768px) {
  .framehorizontal:hover img {
    transform: translateX(-25%); /* Slides to right*/
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .framehorizontal:hover img {
    transform: translateX(-28%); /* Slides to right*/
  }
}
@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .framehorizontal:hover img {
    transform: translateX(-13%); /* Slides to right*/
  }
}
@media screen and (min-width: 1399px) {
  .framehorizontal:hover img {
    transform: translateX(-1%); /* Slides to right*/
  }
}

.framework {
  height: 20px;
  padding-bottom: 25px;
  padding-top: 0;
  margin: 0;
  padding-right: 10px;
}
.bar{
  background-color: rgb(194, 194, 194);
  border-radius: 20px;
}
/*Bars*/
.python {width: 80%; background-color: #ffd343; border-radius: 20px;}
.numpy {width: 60%; background-color: #0049b0; border-radius: 20px;} 
.pandas {width: 65%; background-color: #0c004f; border-radius: 20px;} 
.seaborn {width: 65%; background-color: #759fff; border-radius: 20px;} 
.matplotlib {width: 70%; background-color: #ffffff; border-radius: 20px; color: black;} 
.java {width: 80%; background-color: #f89820; border-radius: 20px;}
.c {width: 50%; background-color: #659ad2; border-radius: 20px;}
.web{width: 20%; background-color: #659ad2; border-radius: 20px;}
.html{width: 70%; background-color: #ff7300; border-radius: 20px;}
.css{width: 70%; background-color: #1400c8; border-radius: 20px;}
.illustrator{width: 70%; background-color: #ff8000; border-radius: 20px;}
.photoshop{width: 50%; background-color: #063fb2; border-radius: 20px;}

#footer{
  background-color: white;
  height: 200px; 
}
.namefooter{
  font-size: 3rem;
}
.bebas-font{
  font-family: 'Bebas Neue', sans-serif;
}
.open-sans-font{
  font-family: 'Open Sans', sans-serif;
}